.jumbotron {
	background: #4da6ff;
}

body {
	background: #00ffff;
}

#quiz {
	font-family: sans-serif;
	background: #4da6ff;
	margin-left: 100px;
	margin-right: 100px;
	border-radius: 20px;
}

button {
	margin: 40px;
}
