body {
	background: purple;
}

.page-header {
	color: teal;
	font-family: sans-serif;
}

.questions {
	background: teal;
	color: white;
	margin-bottom: 60px;
	padding: 10px;
	margin-left: 100px;
	margin-right: 100px;
}

.btn {
	margin-bottom: 40px;
}